@model List<VacationRequestSystem.Models.VacationType>

@{
    ViewBag.Title = "Home Page";
}

<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="jumbotron">
    TODO: Add user information hear!
</div>

@Styles.Render("~/Content/Calendar.css")
<ul class="vacationType">
    @foreach (var vacationType in Model)
    {
        <li class="vacationType">
            @Html.RadioButtonFor(model => vacationType, vacationType.VacationTypeId, (vacationType.IsSelected) ? new { @checked = "checked" } : null)
            <label>@vacationType.VacationTypeName</label>
        </li>
    }
</ul>

@Html.Action("DisplayCalendar", "Calendar", new { userId = -1 });
