@{
    ViewBag.Title = "Home Page";
}

<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="jumbotron">
    <h1 style="text-align: center">Current month</h1>
</div>

@Html.Action("DisplayCalendar", "Calendar", new { userId = -1 });
